$titlecolor:black;
$textcolor:#000;
$hovercolor:#009688!important;
$bgcolor:#fcffff;
$gradcolor:linear-gradient(to right, rgba(235,44,23,0), rgba(159,166,185,147));
$a:#f4d89d ;
$b:#D5F8C4 ;
$c:#C4F2F8 ;
$d:#C4F8DC ;
$e:#DBC4F8 ;
