@import "_variable.scss";
@import "_mixin.scss";
// add files of variable and mixin (partials)
*{
    margin: 0; padding: 0; box-sizing: border-box;font-family: 'Piazzolla', serif;
}
// globel font size
html{font-size:13px;
   font-family: 'Piazzolla', serif;
   }
// grid main container 
  .grid-cont{    
        height: auto;
        display: flex;
        transition: all 0.8s;
        flex-wrap: wrap;
        transition-timing-function: ease;
      } 
// grid items in column 
    .item1{
         @include colbox;
        }
      .item2{
          @include colbox;
          } 
     .item3{
         @include colbox;
          } 
      .item3{
          @include colbox;
        } 
     .item4{
           @include colbox;
        } 
         // date and calender color
      .date{
         color: $hovercolor;
         i{
            font-size: 1rem;
         }
      }
        // image area
        .img{
           width: 100vw;
           height: auto;
        }
        // about area
        .about-area{
           i{
            font-size: 1.2rem;
           }
        }
        // progress bar style
        .progress{
          margin: 5px;
        }
         .progress{
           &:hover{
            opacity: 0.7; 
           }
        }
// icones property
        i{
         @include icons;
        }
  // footer area 
     .fotter{
          width: auto;
          flex-grow: 1;
          background-color: #8a9999;
          color: $bgcolor;
          justify-content: center;
          align-content: center;
           }
        .fotter{
             padding: 2rem;
         h3{
            font-size: 3rem;
           }
        .fab{
            cursor: pointer;
            font-size: 2rem;
            margin:15px 12px;
            color: $bgcolor; 
            &:hover{
              opacity: 0.8;
                   }
            }
        }
      .badge{
         font-size: 1.1rem;
      }
      h5{
         font-size: 1.3rem;
      }

